<div class="col-md-offset-4 col-md-4">
  <form class="form-auth" action="/auth/login" method="POST">
    <h2>Log In</h2>
    <% while (message = flash.shift()) { %>
      <% if (message.type === "error") { %>
      <p class="text-danger"><%= message.message %></p>
      <% } %>
    <% } %>
    <input type="text" name="username" placeholder="Username" class="form-control"><br>
    <input type="password" name="password" placeholder="Password" class="form-control"><br>
    <input type="submit" value="Log in" class="btn btn-primary" />
  </form>
</div>
