<div class="container">
<div class="well">Leads: Please use this calendar view to plan for <em>upcoming</em> events. The meetup events feed unfortunately only includes future dates.</div>
<iframe src="https://calendar.google.com/calendar/embed?title=Women%20Who%20Code%20DC%20Upcoming%20Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=wwcodedc%40gmail.com&amp;color=%235229A3&amp;src=eqi6u45jjlm4ch6krageu2ift5htnav8%40import.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>